.container {
  height: 100vh;
  align-items: center;
  padding: 40px;
  border-radius: 2px;
  padding-bottom: 100px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}
.welcomeH1 {
  color: var(--secondary-color);
  text-align: center;
}
.productContainer {
  width: min-content;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  width: 40vw;
  height: 80vh;
}
.products {
  width: min-content;
  height: min-content;
}

.products > div {
  width: 150px;
  height: 50px;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  position: relative;
  box-shadow: rgba(0, 30, 43, 0.3) 0px 4px 10px -4px;
  transition: 0.3s;
  text-align: center;
  color: black;
}

.Btn {
  position: relative;
  margin-right: 10px;
}
