.container {
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 2px;
    padding-bottom: 100px;
}

.products {
    width: min-content;
    height: min-content;
}

.products > div {
    width: 150px;
    height: 50px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    position: relative;
    box-shadow: rgba(0, 30, 43, 0.3) 0px 4px 10px -4px;
    transition: 0.3s;
    text-align: center;
    color:black
}