.pizzaIcon {
    height: 100vmin;
    pointer-events: none;
    width: 200px;
    height: 200px;
    color: rgb(255, 70, 70);
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .pizzaIcon {
      animation: pizzaIcon-spin infinite 20s linear;
    }
  }
  
  .header {
    padding-top: 15%;
    min-height: 20vh;
    font-size: calc(10px + 2vmin);
    color: rgb(58, 58, 58);
    justify-content: center;
  }
  
  @keyframes pizzaIcon-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }