.container {
  height: 100vh;
  background-color: rgb(245, 245, 245);
  /*  background-color: rgb(255, 70, 70); */
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  overflow: scroll;
}

.LoadingIconDiv {
  margin: auto;
  padding-bottom: 11%;
}

.LoadingIconDiv p {
  text-align: center;
}

.item {
  margin: 2%;
}

.item:nth-child(4n) {
  break-after: auto;
}

.link {
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .container {
    justify-content: space-evenly;
    align-items: center;
  }
  .item:nth-child(2n) {
    break-after: always;
  }

  .item {
    margin: 1%;
  }
}
