.container {
    padding-top: 5vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: rgb(245, 245, 245);
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.container > .item {
    height: inherit;
}

.image {
    padding-top: 15px;
    width: 430px;
    height: 280px;
}

.h1, .description {
    color: rgb(58, 58, 58);

}

.h1 {
    margin-top: 20px;
    text-shadow: 0.2px 0.2px #989898;
}

.description {
    margin-left: 20%;
    line-height: 1.3em;
    flex-direction: column;
}

.description p {
    font-style: italic;
    inline-size: 250px;
    overflow-wrap: break-word;
    font-size: 1.2em;
}

.sizeContainer {
    border-width: 20px;
    height: 120px;
    width: 400px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.h2 {
    color: rgb(58, 58, 58);
    margin-top: 20%;
}

.smallPizza, .mediumPizza, .largePizza {
    padding: 20%;
    color: rgb(58, 58, 58);
    margin-bottom: 0;
}
.sizeItem, .selectedSize {
    height: 55px;
    width: 95px;
}

.sizeItem:hover {
    border-bottom: 5px solid #52af55;
    cursor: pointer;
}


.smallPizza {
    height: 25px;
    width: 25px;
}

.mediumPizza {
    height: 28px;
    width: 28px;
}

.largePizza {
    height: 32px;
    width: 32px;
}

.selectedSize {
    border-bottom: 5px solid #52af55;
}

.size {
    z-index: 2;
    position: absolute;
    color: rgb(245, 245, 245);
    margin-left: 2.6%;
    padding: 5px;
    border-radius: 10px;
    font-size: 1em;
    background-color: #52af55;
    box-shadow: rgba(0, 30, 43, 0.3) 0px 4px 10px -4px;
}
.sizeItem, .selectedSize > p {
    color: rgb(58, 58, 58);
    font-display: bold;
}

.quantityContainer {
    padding-top: 20px;
    border-width: 20px;
    height: 40%;
    width: 415px;
    color: rgb(58, 58, 58);
  /*  border: 2px solid green; */
    float: right;
    padding-bottom: 5vh;
}

.input { 
    width: 30px;
    height: 20px;
         
}


.label {
    font-weight: bold;
    font-size: 1.5em;
}

.button {
    margin-top: 40px;
    height: 60px;
    border-radius: 20px;
    background-color: #52af55;
    width: 40%;
}

.button p {
    font-size: 1.5em;
    color: rgb(245, 245, 245);
    text-align: center;
}
.button:hover {
    box-shadow: 0 8px 16px 0 rgba(234, 234, 234, 0.2); 
    cursor: pointer;
    background-color: rgb(66, 144, 69);
}


@media only screen and (max-width: 850px) {
    .item {
        width: 100vw;
    }  
    .container {
        overflow-x: hidden;
        height: min-content;
        width: min-content;
        justify-content: center;
    }
   
    .description {
        margin-left: auto;
        display: flex;
        justify-content: center;
        flex-direction: inherit;
    }

    .sizeContainer, .quantityContainer {
        width: 80vw;
        margin: auto;
        float: none;
    }

    .button {
        width: 80vw;
        display: block;
        justify-content: center;
    }

    .imgDiv {
        display: flex;
        justify-content: center;
    }

    .h1 {
        text-align: center;
        margin-left: 0;
    }
    
    .h2 {
        margin-top: 0;
        text-align: center;
        padding: 5%;
    }

    .size {
        margin-left: 9.2%;
    }
}