.container {
    height: 500px;
    width: 500px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    position: relative;
    box-shadow: rgba(0, 30, 43, 0.3) 0px 4px 10px -4px;
    transition: 0.3s;
}

.form {
    padding-top: 2vh;
}

.form > div {
    padding: 2vh;
    color: rgb(58, 58, 58);
}

div > input {
    padding: 0.5vw;
}
div > p {
    width: 100px;
    display: inline-block;
}

.submit {
    margin-top: 1vw;
    margin-left: 15vw;
}

